numpy==1.16.2
scipy==1.2.3
sklearn

nltk==3.4
fuzzywuzzy[speedup]

rdflib
iribaker<0.2
SPARQLWrapper

playsound
webrtcvad

google-cloud-speech
google-cloud-TextToSpeech
google-cloud-translate

pillow
opencv-python==4.2.0.32

tornado==5.1.1
typing
pyaudio

pycountry
reverse_geocoder

configparser
mock
importlib_resources
